/*reset*/
*{margin: 0;padding: 0;}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	vertical-align:middle;
	outline: none;
	border: none;
}
input{
	border: none;
	outline: none;
}
body{
	font-family: "微软雅黑";
}
/*common*/

.fl{float: left;}
.fr{float: right;}
.cl{
	zoom: 1;
}
.cl:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}